%h1
  Rosters

%table
  %thead
    %tr
      %th.name
        Team
  %tbody
    - @rosters.each do |roster|
      %tr{class: "row-#{roster.id}"}
        %td.name
          = link_to roster.name, group_roster_path(@group, roster)
