%h1
  = @roster.name

%table
  %thead
    %tr
      %th
        Slot
      %th
        Player
  %tbody
    - @roster_slots.each do |slot|
      %tr
        %td
          = slot.id
        %td
          = slot.player.full_name