%h1
  My Team

%table
  %thead
    %tr
      %th
        Slot
      %th
        Player
  %tbody
    - @roster.players.each do |player|
      %tr
        %td
          Slot
        %td
          = player.full_name