%h1
  = AppSettings.app_alias_game.capitalize.pluralize

%table
  %thead
    %tr
      %th.team-name
        Team
      %th.score
        Score
      %th.score
        Score
      %th.team-name
        Team
  %tbody
    - @group_games.each do |game|
      %tr{ class: "row-#{game.id}" }
        - game.group_game_opponents.each do |opponent|
          %td.team-name
            = link_to opponent.roster.name, group_roster_path(@group, opponent.roster)
          %td.score
            = opponent.calculated_score