%table
  %thead
    %tr
      %th
        Team
      %th
        Owner
  %tbody
    - @group.rosters.each do |roster|
      %tr
        %td
          = roster.name
        %td
          - roster.users.each do |user|
            = user.email
