%h1
  Standings

%table
  %thead
    %tr
      %th
        Team
      %th
        W
      %th
        L
      %th
        T
      %th
        PF
      %th
        PA
  %tbody
    - @group.rosters.each do |roster|
      %tr
        %td
          = roster.name
        %td
          = roster.roster_stat_seasons.where(season: Settings.app_season).wins

