= render :partial => "shared/mailers/mailer_header_default"
#content{ style: "color: green;" }
  %p 
    This is the content of the Group Weekly Review
= render :partial => "shared/mailers/mailer_footer_default"