.row
  .span4
    #standings
      Standings
  .span8
    #scoreboard
      Scoreboard
.row
  .span4
    #standings
      Transactions
  .span4
    #standings
      Standings
  .span4
    #transactions
      Scoreboard